# Environment Variables
.env

# Python
__pycache__/
.venv/

# Build Files
dist/
build/
*.egg-info/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

# Plans
IMPLEMENTATION_PLAN.md

# Miscellaneous
level-1.py
level-2.py
level-3.py
level-4.py
level-5.py
level-6.py
level-7.py
level-8.py
level-9.py
level-10.py
level-11.py
level-12.py
level-13.py
level-14.py